.spicy-rice-regular {
    font-family: 'Spicy Rice', serif;
    font-weight: 400;
    font-style: normal;
  }

  h1 {
    font-family: 'Spicy Rice', serif;

  }

  * {
    box-sizing: border-box;
  }
  

